<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <!-- <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />
             <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
            <script src="{{ asset('js/main.js') }}"></script>-->

            <script src="{{ asset('build/app.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
            <link rel="stylesheet" href="{{ asset('build/mobile.css') }}">

            {% set current_marque = app.session.get('marque') %}

            {% if current_marque == "66-nord" %}
                <link rel="stylesheet" href="{{ asset('build/nord.css') }}">
            {% endif %}

        {% endblock %}
    </head>
    <body>
        {% block header %}{% include "@App/qds/qds-header.html.twig" %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
