{% extends 'base.html.twig' %}
{% block body %}
<div class="">
    <div class="row ">
        <div class="box-form col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <form class="col-md-12 col-sm-12" id="form-qds" method="POST" action="{{path('saveForm')}}">

                <div class="box-form-content col-md-12 col-sm-12">
                    {% for key,val in arrayStep %}
                       {% if loop.first %}
                            {% set etat = 'active' %}     
                        {% else %} 
                            {% set etat = 'inactive' %}
                        {% endif %}
   
                        {% set nb_guide = 1 %}
                        {% set nb_cie = 1 %}
                        {% for key,val in val %}
                        </br>
                            {% if loop.first %} 
                                <div class="box-form-{{etat}} box-form">   
                            {% else %}    
                                <div id="icon-{{ val.blockIcon }}" class="icon-title-h3"></div><h3>{{ val.blockTitle }}</h3>
                                <hr class="hr-nord hr-title">
                                {% if val.guideID is defined %}
                                    <input type="hidden" value="{{ val.guideID }}" name="id_tl_{{ nb_guide }}___guideID" id="{{ val.idBlock }}"/>
                                    {% set nb_guide = nb_guide + 1 %} 
                                {% endif %}

                                {% if val.cieID is defined %}
                                    <input type="hidden" value="{{ val.cieID }}" name="cod_cie_{{ nb_cie }}___cieID" id="{{ val.idBlock }}"/>
                                    {% set nb_cie = nb_cie + 1 %} 
                                {% endif %}

                                {% for key,value in val %}
                                    {% if value is iterable %}
                                        {% if value.visibleQuestion >  0 %}
                                            <div class="row">
                                                <div class="col-md-12 box-global">

                                                    {% if value.titleQuestion != "[N/A]" %}
                                                        {% if value.typeQuestion == "TEXT" %}
                                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                                {{ value.titleQuestion }}
                                                            </div>
                                                        {% endif %}
                                                        {% if value.typeQuestion != "TEXT" %}
                                                            <div class="col-md-5 col-sm-4 col-xs-10 box-title-question">
                                                                <label>{{ value.titleQuestion }}</label>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if value.typeQuestion == 'STAR' %} 
                                                        <div class="box-rating col-md-6 col-sm-6">
                                                              <fieldset class="{{ value.responseIDQuestion }}___rating rating">
                                                                <input type="radio" id="{{ value.responseIDQuestion }}-star5" name="{{ value.responseIDQuestion }}___rating" value="5" /><label data-before="" class = "full" for="{{ value.responseIDQuestion }}-star5"></label>
                                                                <input type="radio" id="{{ value.responseIDQuestion }}-star4" name="{{ value.responseIDQuestion }}___rating" value="4" /><label class = "full" for="{{ value.responseIDQuestion }}-star4"></label>
                                                                <input type="radio" id="{{ value.responseIDQuestion }}-star3" name="{{ value.responseIDQuestion }}___rating" value="3" /><label class = "full" for="{{ value.responseIDQuestion }}-star3"></label>
                                                                <input type="radio" id="{{ value.responseIDQuestion }}-star2" name="{{ value.responseIDQuestion }}___rating" value="2" /><label class = "full" for="{{ value.responseIDQuestion }}-star2"></label>
                                                                <input type="radio" id="{{ value.responseIDQuestion }}-star1" name="{{ value.responseIDQuestion }}___rating" value="1" /><label class = "full" for="{{ value.responseIDQuestion }}-star1"></label>
                                                            </fieldset>
                                                            <div id="messageSF">
                                                                <span class="first-sf">Choisissez votre note</span>
                                                                <span>pas du tout satisfait</span>
                                                                <span>pas satisfait</span>
                                                                <span>peu satisfait</span>
                                                                <span>satisfait</span>
                                                                <span>Très satisfait</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                    {% if value.typeQuestion == 'TEXT' %} 
                                                        <div class="box-text col-md-12 col-sm-12">
                                                            <textarea class="question-text" placeholder="Votre avis ici..." name="{{ value.responseIDQuestion }}___text" data-idresponse="{{ value.responseIDQuestion }}" ></textarea>
                                                        </div>
                                                    {% endif %}

                                                    {% if value.typeQuestion == 'QCM2' %} 
                                                        <div class="box-qcm row">
                                                            {% for key,qcm in value.choiceQuestion %}
                                                               <div class="col-md-6 col-sm-6 col-xs-6 input-qcm"><input type="checkbox" class="qcm-choices" name="{{ value.responseIDQuestion }}___qcm" data-idresponse="{{ value.responseIDQuestion }}"/> {{ qcm }} </div>
                                                            {% endfor %} 
                                                        </div>
                                                    {% endif %}

                                                    {% if value.typeQuestion == 'YESNO' %} 
                                                        <div class="box-yesno row">
                                                               <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <li><input type="radio" value="1" name="{{ value.responseIDQuestion }}___yesno" data-idresponse="{{ value.responseIDQuestion }}"/> Oui </li>
                                                                <li><input type="radio" value="0" name="{{ value.responseIDQuestion }}___yesno" data-idresponse="{{ value.responseIDQuestion }}"/> Non </li>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                    {% if value.typeQuestion == '0to10' %} 
                                                        <div class="box-0to10 row">

                                                               <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                                {% for i in 0..10 %}
                                                                    <div class="col-md-1 col-sm-1 col-xs-1 content-0t10"><input type="radio" value="{{ i }}" name="{{ value.responseIDQuestion }}___0to10" data-idresponse="{{ value.responseIDQuestion }}"/></div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}   
                            {% endif %}
                            {% if loop.last %} 
                                </div>     
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="box-nav">
                        <input type="button" value="Passer à l'étape suivante" class="btn btn-primary btn-sm btn-active" id="btn-suivant"/>
                        <input type="submit" value="Valider" id="btn-valider" class="btn btn-primary btn-sm btn-inactive"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
